@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Instrument+Sans:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-inter: 'Inter', var(--font-sans);
	--font-instrument: 'Instrument Sans', var(--font-sans);

	/* Custom purple color for Neuroflip brand */
	--color-purple-primary: #644a73;
	--color-purple-dark: #493257;
	--color-orange-primary: #FFB895;
	--color-orange-200: #FFD6B9;
	--color-orange-100: #FFD6C3;
	--color-gray-100: rgba(55, 71, 60, 0.2);
}

body {
	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
